.recipes {
  background-image: url(/images/background_recipes.svg);
  background-color: #0a2750;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.recipes__title {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  display: flex;
  padding-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times", "Serif";
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-bottom: 80px;
  max-width: 438px;
  padding-top: 24px;
}

.recipes__videos {
  display: flex;
  width: 1000px;
  margin: 80px auto 0;
}

.recipes__video-item {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 0;
  column-gap: 40px;
  padding-bottom: 400px;
}

.recipes__iframe {
  border: none;
  padding-bottom: 24px;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
